version: "3.9"
services:
  web:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "3000:3000"
    environment:
      JWT_SECRET: supersecret
      NODE_ENV: production
